---
layout: default_ak
title: Posts
root: ""
---

<div class="content">
  <div class="related">
    {% for post in site.posts %}
      <span>{{post.date | date: "%Y"}}</span>
    {% endfor %}
    
    <ul>
		
	  <!--{% for year in site.posts.date | date: "%Y" %}
		<li class="listing-seperator"><span>{{ year }}</span></li>
	  {% for post in site.posts %}
	  {% if post.date | date: "%Y" == year %}
		  <li class="listing-item">
			<span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
		  </li>
	  {% endif %}
	  {% endfor %}
      {% endfor %}-->
    </ul>
  </div>
</div>
