---
layout: default_ak
title: Posts
root: ""
---

<div class="content">
  <div class="related">
    
	
	
	
	
	<!--{% for post in site.posts %}
      <ul>
        <li class="listing-seperator"><span>{{post.date | date: "%Y"}}</span></li>
        {% for post1 in site.posts %}
        {% if post1.date | date: "%Y" == post.date | date: "%Y"%}
          <li class="listing-item"><time datetime={{ post1.date | date: "%B %e, %Y" }}></time>{{ post1.date | date: "%B %e, %Y" }}<a href="{{ post.url }}">{{ post.title }}</a>
		  </li>
        {% endif %}
        {% endfor %}
      </ul>
      
    {% endfor %}
    -->
    
	<ul>
		<li class="listing-seperator">2010</li>
		{% for post in site.posts %}
		{{ post.date | date: "%Y" }}
		{% if post.date | date: "%Y" == 2010 %}
		<li class="listing-item">
			<span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
		</li>	
		{% endif %}
		{% endfor %}
	  <!--{% for year in site.posts.date | date: "%Y" %}
		<li class="listing-seperator"><span>{{ year }}</span></li>
	  {% for post in site.posts %}
	  {% if post.date | date: "%Y" == year %}
		  <li class="listing-item">
			<span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
		  </li>
	  {% endif %}
	  {% endfor %}
      {% endfor %}-->
    </ul>
  </div>
</div>
