<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta name="Description" content="Personal website detailing the most important and most mundane aspects of Andee Kaplan." />
		<meta name="Keywords" content="math, mathematics, computation, statistics, moxed effects modeling, hierarchical models, bayesian, R, Iowa State University, University of Texas, Austin" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="Distribution" content="Global" />
		<meta name="Author" content="Andee Kaplan - ajkaplan@iastate.edu" />
		<meta name="Robots" content="index,follow" />		

		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link rel="stylesheet" href="fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
		<link rel="icon" type="image/jpg" href="images/me.jpg">
		
		<title>Andee Kaplan - Iowa State University</title>
		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.1.pack.js"></script>
		<script type="text/javascript" src="fancybox/jquery.easing-1.3.pack.js"></script>
		<script type="text/javascript" src="fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
		<script type="text/javascript" src="js/jquery-validate/jquery.validate.min.js"></script>
		<script type="text/javascript" src="js/jquery.query-2.1.7.js"></script>
		<script type="text/javascript" src="js/jqURL.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>	
	</head>
	
	<body>		
		<!-- header starts here -->
		<div id="header-wrap"><div id="header-content">	
			
			<h1 id="logo"><a href="index.html" title="">Andee<span class="orange">Kaplan</span></a></h1>	
			<h2 id="slogan">Ph.D. student at Iowa State University Statistics</h2>		
			
			<div id="header-links">
				<p>
					<a href="http://www.iastate.edu/">Iowa State University</a>
					<a href="http://www.stat.iastate.edu/">Department of Statistics</a>	
				</p>		
			</div>
			
			<!-- Menu Tabs -->
			<ul>
				<li><a href="index.html ">Home</a></li>
				<li><a href="cv.html" id="current">CV</a></li>
				<li><a href="teaching.html" >Teaching</a></li>
				<li><a href="research.html" >Research</a></li>
				<li><a href="coursework.html" >Coursework</a></li>
				<li><a href="http://andeekaplan.wordpress.com" >Blog</a></li>	
			</ul>					
		</div></div>
		
		<!-- content-wrap starts here -->
		<div id="content-wrap"><div id="content">	 
			<div id="main">		
				<a name="MainCV"></a>				
				<div id="mydoc">
				   <iframe src="http://docs.google.com/gview?url=http://andeek.github.com/CV_AndreaKaplan.pdf&embedded=true" style="width:590px; height:600px;" frameborder="0"></iframe>
				</div>
			</div>
			
			<div id="sidebar">			
				<h1>Click</h1>
				<ul class="sidemenu">
					<li><a href="http://www.iastate.edu/">Iowa State University</a></li>
					<li><a href="http://www.stat.iastate.edu/">ISU Department of Statistics</a></li>
					<li><a href="http://www.utexas.edu/">The University of Texas</a></li>
					<li><a href="http://www.math.utexas.edu/">UT Department of Mathematics</a></li>
				</ul>
				<h1>Read</h1>
				<ul class="sidemenu">
					<li><a href="http://andrewgelman.com/">Andrew Gelman</a></li>
					<li><a href="http://niemiconsulting.com/">Jarad Niemi</a></li>
					<li><a href="">Eric Hare</a></li>
					<li><a href="http://www.joshrachner.com" target="_blank">Josh Rachner</a></li>
				</ul>
				<h1>Fun</h1>
				<ul class="sidemenu">
					<li><a href="http://www.projecteuler.net" target="_blank">Project Euler</a></li>
					<li><a href="http://www.xkcd.com" target="_blank">XKCD</a></li>					
					<li><a href="http://www.sheldonbrown.com" target="_blank">Sheldon Brown</a></li>
					<li><a href="http://texascx.com" target="_blank">Texas CX</a></li>
					<li><a href="http://bikeiowa.com" target="_blank">Bike Iowa</a></li>
				</ul>
			</div>
		</div></div>
		
		
		
		<!-- footer starts here -->	
		<div id="footer-wrap"><div id="footer-content">
			<div class="col2 float-right">
				<p>&copy; copyright 2012 <strong>Andee Kaplan</strong><br /></p>
			</div>
			<br class="clear" />
		</div></div>

	</body>
</html>