<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Andee Kaplan - Iowa State University" />
	<meta name="keywords" content="Statistics, Mathematics, Computing, R, Iowa State Univesity, University of Texas at Austin" />
	<meta name="author" content="Andee Kaplan" />
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
	<title>Andee Kaplan - Iowa State University</title>
</head>

<body class="reversed">
    <div id="wrap">
		<div id="toplinks">
			<ul class="toplinks_links">
				<li><a href="http://www.iastate.edu/">Iowa State University</a></li>
				<li><a href="http://www.stat.iastate.edu/">Department of Statistics</a></li>
			</ul>
		</div>
	
		<div id="header">
			<h1><a href="#">Andee Kaplan</a></h1>
			<p>PhD Student Iowa State University Statistics</p>
		</div>
		
		<div id="sidebar">
			<ul>
				<li><a class="current" href="index.html">Home</a></li>
				<li><a href="CV_AndreaKaplan.pdf">CV</a></li>
				<li><a href="teaching.html">Teaching</a></li>
				<li><a href="research.html">Research</a></li>
				<li><a href="courswork.html">Courswork</a></li>
				<li><a href="http://andeekaplan.wordpress.com">Blog</a></li>
			</ul>
		</div>
				
		<div id="content">
			<h2>Title 1</h2>
			<p>test test test test test</p>

			<h3>Subtitle</h3>
				<p>
					<!--begin.rcode
					## a simple calculator
					1+1
					## boring random numbers
					set.seed(123)
					rnorm(5)
					end.rcode-->
				</p>
		</div>
	</div>
  
	<div id="footer">
		<p><span>&copy; 2012 <a href="#">Andee Kaplan</a></span><br />
		Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a><br />
	</div>
 </div>
</body>
</html>