<header>
	<h1>Andee Kaplan</h1>
	<span class="byline">Graduate Student</span>
	<span class="contact">
	<a href="http://www.stat.iastate.edu" target="_blank">Department of Statistics</a><br />
	<a href="http://www.iastate.edu" target="_blank">Iowa State University</a><br />
	1414 Snedecor Hall <br />
	Ames, IA 50011 <br />
	<a href="mailto:ajkaplan@iastate.edu">ajkaplan@iastate.edu</a>
	</span>
</header>
<a href="#work" class="jumplink pic">
	<span class="jumplink arrow fa fa-chevron-right"><span>See my work</span></span>
	<img src="images/me.jpg" alt="" />
</a>